# Logs
logs
*.log
pnpm-debug.log*

# OS files
.DS_Store

# IDE and code editor files
.idea
.vscode
!.vscode/extensions.json

# Dependencies
node_modules

# Tests
coverage

# Builds
dist

# Files served by the Vite development server
public

# Other Vite related files
vite.config.ts.timestamp-*.mjs
